body{
    background-color: #302d2d;
    color: white;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.center{
   background-color: rgb(167, 12, 12);
   color: white;
   padding: 90px;
   margin: 2px 520px;

    border-radius: 5px 20px 5px;
    background: #c3ff00;
  }

.pdng{
    margin: 10px;
    font-size: 18px;
}